<!doctype html>
<html>

    <head>
        <title>{%block title %} {% endblock %}</title>
        <h1 align="center">{%block header %} {% endblock %}</h1>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
<body>
    <div>
        <h1>Blogz</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/blog">My Posts</a> </li>
        <li><a href="/newpost">Create a New Post</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    </br>

    {% block content %}
    {% endblock %}

</body>
</html>