{% extends "base.html" %}
{% block title %} Blogz {% endblock %}
{% block header %} My Blog Post {% endblock %}
{% block content %}

{% if blogs|length == 0 %}
   <p>No posts yet</p>
   {% else %}

        {% for blog in blogs %}
        <div>
          <h2><a href="/selected_blog?id={{ blog.id }}">{{blog.title}}</a></h2>
            <br/>
          <p>{{blog.content}}</p>
          <p class="author">written by <a href = "/blog?user={{ blog.user_id }}" > filler </a></p>
          <p>{{blog.pubdate}}</p>
        </div>
        <hr/>
        {% endfor %}
    {% endif %}
{% endblock %}