{% extends "base.html" %}
{% block title %} New Blog Entry{% endblock %}

{% block content %}

<h2>Write a New Blog Post</h2>
    <p class="error">{{ title_error }}</p>
    <p class="error">{{ content_error }}</p>
<form method='post'>
    <div>
        <label>Title</br>
            <input type="text" name="blog_title" value=""/>
        </label>
    </div>
    </br>
    <div>
        <label>Body</br>
            <textarea name="blog_content" value=""></textarea>
            <span class="error">{{content_error}}</span>
        </label>
    </div>
    <input type="submit" value='Post'/>
</form>

{% endblock %}